[submodule "django"]
	path = django
	url = https://github.com/django-nonrel/django-nonrel.git
[submodule "djangotoolbox"]
	path = djangotoolbox
	url = https://github.com/django-nonrel/djangotoolbox.git
[submodule "djangoappengine"]
	path = djangoappengine
	url = https://github.com/django-nonrel/djangoappengine.git
[submodule "django-dbindexer"]
	path = dbindexer
	url = https://github.com/django-nonrel/django-dbindexer.git
[submodule "autoload"]
	path = autoload
	url = https://github.com/hflicka/django-autoload.git
[submodule "dbindexer"]
	path = dbindexer
	url = https://github.com/django-nonrel/django-dbindexer.git
